body{
	background-color:#D3D3D3;
}

#cards{
	margin-top:2%;
}

.editar-card{
	background-color: #B0C4DE;
	padding: 5%;
	margin-top: 10%;
	margin-bottom: 10%;
}

#img1{
	background-color: #00BFFF;
}

#img2{
	background-color: #FF1493;
}

#img3{
	background-color: #DC143C;
}

#img4{
	background-color: #00FF7F;
}

.efeito-card{
	transition: transform 1s;
}

.efeito-img{
	transition: transform 1s;
}
.efeito-img:hover{
	transform: scale(1.2) rotateY(360deg);
	cursor: pointer;
}

.menu-desabilitado{
	color: #808080;
}

.menu-ativo{
	color: #000000
}

.menu-desabilitado:hover{
	color: #000000
}

.menu-ativo:hover{
	color: #000000
}